
body { /* Eigenschaften für Body der Website */
    color: rgb(0, 0, 0); /*Textfarbe*/
    background-color: burlywood;  /* Hintergrundfarbe*/ 
    margin: 0; /* platzhalter für body*/
    padding-bottom: 5rem;
    min-height: 100%; /* mindest grösse für Body*/
}
.navbar {   /* Navigations Leiste Design */
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(107, 79, 0);
    font-family: Arial; /* Font art */
}
.navbar a {   /* Text Design im Navigationsverzeichnis */
    float: left;
    font-size: 16px; /* textgrösse */
    color: white;
    text-align: center; /* damit der text in der mitte angezeigt wird*/
    padding: 14px 16px; /*abstände*/
    text-decoration: none;
}
.dropdown {   /* Dropdown Kasten*/
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {  /* Dropdown Knopf */     
    font-size: 16px;
    border: none;  /* umrahmung*/
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
}
.navbar a:hover, .dropdown:hover .dropbtn {   /* andere Farbe beim überfahren der Leiste*/
    background-color: rgb(197, 176, 152);
}
.dropdown-content {   /* Dropdown Inhalt der Box */
    display: none;
    position: absolute;  /* position*/
    background-color: #8d8d8d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 1;
}
.dropdown-content a {     /* Links im Dropdown Menü */
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none; /* keine spezielle text deco. wie zb. underline*/
    display: block;
    text-align: left;  /* Textausrichtung (links)*/
}
.dropdown-content a:hover {   /* ändern der Farbe beim Hovern im Dropdown Menü */
    background-color: rgb(197, 176, 152);
} 
.dropdown:hover .dropdown-content{   /* Dropdown anzeigen */
    display: block;
}
h1 {   /* Titel mittig anzeigen*/
    text-align: center;
}
div {
    text-align: center;
    margin: auto;
}
div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
p.container {
    text-align: center;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1.6%;
}
p {
    padding-left: 10%;
    padding-right: 10%;
    
}
ul{
    padding-left: 10%;
}
h2 {
    padding-left: 10%;
}
img {
    width: 100%;
}
p.container a:visited{
    color: rgb(0,0,0);
}
p.container a:link{
    color: rgb(0,0,0);
}
p.container a:hover{
    color: rgb(187, 43, 122);
}
div.Uebermichbild{
  margin-right: 10%;
  width: 15%;
  float: right;
  margin-left: 10%;
}
figcaption{ /* Caption */
    display: inline-block;
    float: left;
}
.footer{ /*Fusszeile*/
    background-color: #F1F1F1;
    text-align: center;
    left: 0;
    bottom: 0;
    right: 0;
    color: black;
    position: fixed;
}
.Tabelle{ /* definiert pos. und design der Tabelle*/
    margin: 40px;
    padding-left: 10%;
}
.TArten, td, th{
    background-color: rgb(165, 165, 165);
    text-align: center;
    color: rgb(255,255,255);
    font-size: 16px;
    padding: 12px;
    border: 1px solid white;
    border-collapse: collapse;
}
.vertical-menu {
    width: 200px;
}
.vertical-menu a {
    background-color: rgb(206, 170, 137);
    color: black;
    display: block; /*wird definiert welche art von box ein element erzeugt*/ 
    padding: 12px;
    text-decoration: none;
}
.vertical-menu a:hover { /* vertikales Menü beim überfahren*/
    background-color: #ccc;
}
.vertical-menu a.active { /*Text des Menüs*/
    background-color: #4CAF50;
    color: white;
}
p.solid { /* umrandet einen Text */
    border-style: solid;
    border-width: 5px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    text-align: center;
    border-color: red;
}
.video {
    margin: 20px;
}
iframe {
    width: 500px;
    height: 350px;
    margin-top: 5%;
}
h3{
    padding-left: 10%;
}
div.Affen {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}